@import url('https://fonts.googleapis.com/css2?family=Amita&family=Capriola&family=Covered+By+Your+Grace&family=Love+Ya+Like+A+Sister&family=Roboto:ital@1&display=swap');

body{
    /* background-image: url("https://images.pexels.com/photos/4951277/pexels-photo-4951277.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-attachment: fixed; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    

}

h1{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: 50%;
}

/* #para {
    color: rgb(31, 173, 50);
} */

body > h2 {
    color: rgb(26, 165, 165);
}

div p:nth-child(3) {
    border: 1px solid rgb(149, 42, 179);
}

/* .myParas{
    border: 1px dotted red;
} */

img {
    border-radius: 40px;
}

a {
    display: block;
}

.Pics img {
    width: 40%;
    border-radius: 60px;
    margin: 20px 10px;
    transition: all;
}

.Pics img:hover{
    width: 50%;
    border-radius: 40px;

}